body {
    font-family: sans-serif;
    font-size: small;
    background-image:url(bg.png) ;
    padding: 0px;
}
.flex-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding:00px;
}    
.flex-container .flex-item img  {
    position: relative;
   width: 800px;
   align-content: center;
margin-top: 120px;
}
.flex-container .head {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 217, 109);
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    z-index: 1;
} 
.flex-container .busch {
    position: relative;
    margin-top: -605px;
    margin-left: 250px;
} 
.flex-container .video {
    position: absolute;
    margin-left: 790px;
    margin-top: 40px;
} 
.flex-container .sterne {
    position: absolute;    
    margin-left: 600px;
    margin-top: 60px;
} 
.flex-container .sterne2 {
     position: absolute;    
    margin-left: 800px;
    margin-top: 10px;
} 
.flex-container .sterne3 {
    position: absolute;    
   margin-left: 400px;
   margin-top: 90px;
} 
.flex-container .sterne4 {
    position: absolute;    
   margin-left: 500px;
   margin-top: 10px;
} 
.flex-container .sterne5 {
    position: absolute;    
   margin-left: 650px;
   margin-top: -35px;
} 
.flex-container .box {
    position: absolute;
    margin-top: 300px;
    margin-left: 900px;
}     
.flex-container .text {
    position: absolute;
    margin-top: 400px;
    font-family: cursive;
    margin-left: 400px;
    margin-right: 500px;
    font-size: 20px;
    color: white;
    z-index: 1;
} 
.fußnote {
    grid-auto-flow: column;
    grid-gap: 1px;
    text-decoration: none;
    margin-top: 500px;
    list-style: none;
    margin-bottom: 1px;
    text-align: center;
    color:#252525;
    opacity: 40%;
}
.fußnote a {
    text-decoration: none;
    display: block;
    list-style: none;
    font-size: 15px;
    color: #252525;
}