body {
    font-family: sans-serif;
    font-size: small;
    background-image:url(bg.png) ;
    padding: 0px;
}
.flex-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding:00px;
}    
.flex-container .flex-item img  {
    position: relative;
   width: 800px;
   align-content: center;
margin-top: 120px;
}
.fancy-input{
    position: absolute;
    width: 300px;
    padding:30px;
    margin: auto;
    margin-top:-35%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25%;
 
 } 
 .fancy-input .controlls {
     width: 90%; 
     margin-block-end: 5px;
     height: 5px;
     background: #c2c2c2;
     padding: 3%;
     opacity: 100%;
     font-size: 15px;
     font-weight: lighter;
 }    
 .fancy-input .controlls1 {
     width: 120%; 
     margin-block-end: 5px;
     height: 50px;
     background: #c2c2c2;
     padding: 3%;
     opacity: 100%;
     font-size: 15px;
     font-weight: lighter;
 }    
 .fancy-input p {
     margin-top: 1%;
     width: 100%;
     color: white;
     font-family: 'Times New Roman', Times, serif;
 } 
 .fancy-input .label {
     color:white;
     font-size: 15px;
     font-weight: lighter;
     font-family: 'Times New Roman', Times, serif;
    }     
 .radio .buttons {
     width: 70%;
     height: 30px;
     background:#c2c2c2 ;
     border: none;
     color: white;
     padding: center;
     font-weight: lighter;
     font-size: 15px;
     margin-top: 40px;
 }  
 .radio .ja {
     color: white;
     font-weight: lighter;
     font-family: 'Times New Roman', Times, serif;
    } 
 .fancy-input h3 { 
     font-weight: lighter;
     font-size: 30px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
}       
.radio h4 { 
    font-size: 20px;
    color: white;
    margin-bottom: 2px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
   }    
.radio { 
    position:absolute ;
    margin-top: -240px;
    margin-left: 390px;
} 
.fußnote {
    grid-auto-flow: column;
    grid-gap: 1px;
    text-decoration: none;
    margin-top: 50px;
    list-style: none;
    margin-bottom: 1px;
    text-align: center;
    color:#ffffff;
    opacity: 40%;
}
.fußnote a {
    text-decoration: none;
    display: block;
    list-style: none;
    font-size: 15px;
    color: #ffffff;
}
.flex-container .bow {
    position: absolute;
    margin-top: -125px;
    margin-left: 880px;
}   
 