
body {
    background-image: url(bg.png);
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    display: block;
    position: relative;
}



.formular {
    
    position: absolute;
    top: 50px;
    left: 40px;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.abschnitt1 {
    
    position: absolute;
    top: 30px;
    left:0px;
}
  
.abschnitt1 p {
    margin-top: 30px;
    margin-bottom: 1px;;
    
}


.abschnitt2 {
   
    position: absolute;
    top: 60px;
    left: 0px;
    color: white;
}
.abschnitt2 p {
    margin-top: 30px;
    margin-bottom: 1px;
    width: 290px;
    
}

.abschnitt3 {
 
    position: absolute;
    top: 130px;
    left: 0px;
    color: white;
}
.abschnitt3 p{
    width: 180px;
    margin-bottom: 10px;
   
}
.abschnitt4 {
    position: absolute;
    top: 220px;
    left: 0px;
}