html{
    height: 100%;
}

body{
    background-image: url(christmas.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Drums{
    top:-80px;
    bottom:20px;
    position: relative;
    width: 500px;
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Drums .pad1:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad1:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad2:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad2:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad3:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad3:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad4:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad4:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad5:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad5:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad6:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad6:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad7:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad7:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad8:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad8:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums .pad9:hover {
    background-color:#BBDEFB;
    cursor: pointer;
}

.Drums .pad9:active {
    transform: scale(0.9);
    transition: all .01;
}
.Drums div{ 
    width: 150px;
    height: 150px;
    border-radius: 15px;
}  
.Drums .pad1 {
    background-color: #a1c2c2;    
}     
.Drums .pad2 {
    background-color :#a1c2c2;    
}  
.Drums .pad3 {
    background-color: #a1c2c2;    
}  
.Drums .pad4 {
    background-color: #a1c2c2;    
}  
.Drums .pad5 {
    background-color: #306d88;    
}  
.Drums .pad6 {
    background-color: #306d88;    
} 
.Drums .pad7 {
    background-color: #a1c2c2;    
}  
.Drums .pad8 {
    background-color: #679fb5;    
}  
.Drums .pad9 {
    background-color: #679fb5;    
}  
.button {
    top:500px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:0px;
    opacity: 100%;
    font-size: 80px;
    cursor: pointer;
} 
.is-hidden {
    display:none !important;
} 
#mic2 {
color:#a1c2c2;
margin-left: 20px;
margin-right: 20px;

}
#mic {
    margin-left: 20px;
    margin-right: 20px;
    
}
#trash {
    margin-left: 20px;
    margin-right: 20px;
   
}    
#trash:hover {
    color: #a1c2c2;
}
#play {
    margin-left: 20px;
    margin-right: 20px;
}
#pause {
    margin-left: 20px;
    margin-right: 20px;
}
.aktive {
    display: none !important;

} 
