body {
    font-family: sans-serif;
    font-size: small;
    background-image:url(wallpaper.png) ;
    padding: 0px;
}
.flex-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding:00px;
}    
.flex-container .flex-item img  {
    position: relative;
   width: 800px;
   align-content: center;
margin-top: 120px;

}
.flex-container .ÜText {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
    margin-left: 400px;
    margin-right: 560px;
    z-index: 1;
    position: absolute;
}  
.flex-container .ÜText b {
    font-size: 45px;
}    
.flex-container .busch {
    position: relative;
    margin-top: -605px;
    margin-left: 260px;
}     
.flex-container .pingu {
    position: relative;
    margin-top: 220px;
    margin-left: 1000px;
}
.fußnote {
    grid-auto-flow: column;
    grid-gap: 1px;
    text-decoration: none;
    margin-top: 50px;
    list-style: none;
    margin-bottom: 1px;
    text-align: center;
    color:#303030;
    opacity: 40%;
}
.fußnote a {
    text-decoration: none;
    display: block;
    list-style: none;
    font-size: 15px;
    color: #303030;
}
.flex-container .text {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 380px;
    margin-left: 400px;
    margin-right: 560px;
    z-index: 1;
    position: absolute;
}  
.flex-container .anschreiben {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 320px;
    margin-left: 400px;
    margin-right: 560px;
    z-index: 1;
    position: absolute;
}  